<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Music Manager</title>
    <link rel="stylesheet" href="build/style.min.css">
</head>
<body>
	<form method="post" action="post.php">
		<div id="header">
			<button type="submit" name="request" value="saveids">Save everything</button>
		</div>
		<div id="library-wrapper">
			{% for number, data in library %}
				{% if not data.deleted %}
					<div class="library-item" id="library-item-{{ number }}">
						<h2>{{ data.dir }}</h2>

						<label for="master-{{ number }}"><i class="fa fa-bullseye" title="Discogs"></i> Master ID</label><input type="text" id="master-{{ number }}" name="master[{{ number }}]" value="{{ data.master }}">
						<a href="https://www.discogs.com/search?q={{ data.dir|url_encode }}&type=master" target="_blank" title="Search Discogs"><i class="fa fa-search"></i></a>
						<br>

						<label for="release-{{ number }}"><i class="fa fa-bullseye" title="Discogs"></i> Release ID</label><input type="text" id="release-{{ number }}" name="release[{{ number }}]" value="{{ data.release }}">
						<a href="https://www.discogs.com/search?q={{ data.dir|url_encode }}&type=release" target="_blank" title="Search Discogs"><i class="fa fa-search"></i></a>
						<br>

						<label><i class="fa fa-bullseye" title="Discogs"></i> Genre</label><span id="genre-discogs-{{ number }}"></span><br>
						<label><i class="fa fa-file-audio-o" title="File"></i> Genre</label><span id="genre-file-{{ number }}"></span><br>

						<br>
						<button type="button" onclick="checkGenres({{ number }})">Find genre</button>
						<button type="button" id="save-genre-{{ number }}" onclick="saveGenre({{ number }})" disabled="disabled">Save genre</button>
						<br>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</form>

	<script src="build/libraries.js" type="text/javascript"></script>
	<script src="build/script.min.js" type="text/javascript"></script>
</body>
</html>