<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Music Manager</title>
</head>
<body>
	<form method="post" action="post.php">
		<button type="submit" name="request" value="savemasterids">Save everything</button>
		{% for number, data in library %}
			{% if not data.deleted %}
				<div class="library-item" id="library-item-{{ number }}">
					{{ data.dir }}<br>
					<input type="text" id="master-{{ number }}" name="master[{{ number }}]" value="{{ data.master }}"><br>
					File genre: <span id="genre-file-{{ number }}"></span><br>
					Discogs genre: <span id="genre-discogs-{{ number }}"></span><br>
					<button type="button" onclick="checkGenres({{ number }})">Find genre</button>
					<button type="button" id="save-genre-{{ number }}" onclick="saveGenre({{ number }})" disabled="disabled">Save genre</button>
					<br>
					<a href="https://www.discogs.com/search?q={{ data.dir|url_encode }}&type=master" target="_blank">Search on Discogs</a>
					<br><br><br>
				</div>
			{% endif %}
		{% endfor %}
	</form>

	<script src="build/libraries.js" type="text/javascript"></script>
	<script src="build/script.js" type="text/javascript"></script>
</body>
</html>